@model List<DGHCM.Models.SupplyDetail>
@{
    ViewBag.Title = "SupplyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    body {
        background-image: url('../../content/images/office image.png');
        background-size: cover;
    }

    .card {
        background: #fff5;
        backdrop-filter: blur(7px);
        border-radius: 50%
    }

    .text-black {
        font-size: 25px;
    }

    .card-header {
        background: #ffffffa1;
        padding: 3px;
    }

    .card-body {
        background: #fffb;
    }

    thead th {
        background: #d5d1defe;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-header  text-black d-flex flex-wrap justify-content-between align-items-center">

            <div>
                <h2 class="text-black m-0">Supply Details</h2>
            </div>
            <div>
                <a href="~/Finance/SupplyCreate" class="btn btn-transparent" data-toggle="modal"><i class="fa-solid fa-circle-plus fa-lg"></i><span>Add New</span></a>
            </div>
        </div>

        <div class="card-body ">
            <div class="container">
                <form class="main" name="Display">


                    @if (Model != null && Model.Count > 0)
                    {
                        <table class="table table-bordered table-striped table-hover mt-2">
                            <thead class="bg-secondary-light">
                                <tr align="center">
                                    <th scope="col">S No</th>
                                    <th scope="col">Supply Code</th>
                                    <th scope="col">Supply Name</th>
                                    <th scope="col">Is Active</th>
                                    <th colspan="2">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var dr in Model)
                                {

                                    <tr align="center">
                                        <td hidden="hidden">@dr.SupplyDetailsId</td>
                                        <td>@i</td>
                                        <td>@dr.FinanceSupplyCode</td>
                                        <td>@dr.FinanceSupplyName</td>
                                        <td>
                                            @if (dr.IsActive == true)
                                            {
                                                <span class="badge rounded-pill bg-success">InActive</span>}
                                            else
                                            {
                                                <span class="badge rounded-pill bg-danger">Deactive</span>}
                                        </td>

                                        <td>

                                            <a href="@Url.Action("SupplyEdit", "Finance", new { Id = dr.SupplyDetailsId })"><i class="fa fa-edit text-primary fa-lg"></i></a>
                                            |
                                            <a href="@Url.Action("SupplyDelete", "Finance", new { Id = dr.SupplyDetailsId })"><i class="fa fa-trash text-danger fa-lg"></i></a>

                                        </td>
                                    </tr>

                                    i++;
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span> No records found!!</span>
                    }

                </form>
            </div>
        </div>
    </div>
</div>


